##
## Parametrizacao basica dos Apaches
##

# "ServerRoot"
ServerRoot ${HTTP_SERVER_ROOT}
ServerName ${HOSTNAME}

# "PidFile"
PidFile ${HTTP_PID_FILE}

# Caso tenha mais de uma instancia de apache rodando por servidor
# sera necessario configurar o parametro especializado
# Exemplo: 
# 	Listen npaa0000-xpto.petrobras.biz:80
# 	Listen npaa0000-xpto.petrobras.biz:443
#
Listen 80
Listen 443

##
## Modulos Apache Habilitados
##

IncludeOptional conf/modules.d/*.conf

# Diretivas de seguranca
ServerTokens Prod
TraceEnable off
ServerSignature Off

<Directory />
    AllowOverride none
    Options -Indexes +FollowSymLinks
    Require all denied
</Directory>

DocumentRoot "home/apache/docroot/"

<Directory ${HTTP_SERVER_ROOT}/home>
    AllowOverride none
    Require all granted
</Directory>

<Files ".ht*">
    Require all denied
</Files>

# Usuario que roda os processos do apache
User {{ usuario }}
Group {{ grupo }}

# Diretivas de Timeout
Timeout 300
KeepAlive On
KeepAliveTimeout 15
MaxKeepAliveRequests 80
# Novo no 2.4
RequestReadTimeout header=30 body=300

# Parametro necessario para autenticacao integrada
LimitRequestFieldSize 32768
LimitRequestLine 32768

# Diretivas de performance
<IfModule mpm_worker_module>
  ServerLimit         65
  StartServers        35
  MaxRequestWorkers   4160
  MinSpareThreads     25
  MaxSpareThreads     75
  ThreadsPerChild     64
</IfModule>

<IfModule mpm_event_module>
  ServerLimit         65
  StartServers        35
  MaxRequestWorkers   4160
  MinSpareThreads     25
  MaxSpareThreads     75
  ThreadsPerChild     64
</IfModule>

##
## Configuracao Padrao de MimeTypes
##

<IfModule mime_module>

    ##
    ## Default Apache 2.4
    ## 
    
    TypesConfig conf/mime.types

    #AddType application/x-gzip .tgz
    #AddEncoding x-compress .Z
    #AddEncoding x-gzip .gz .tgz
    AddType application/x-compress .Z
    AddType application/x-gzip .gz .tgz
    #AddHandler cgi-script .cgi
    #AddHandler type-map var
    AddType text/html .shtml
    AddOutputFilter INCLUDES .shtml

    ##
    ## mime.type para Citrix
    ##

    AddType application/x-ica                                               .ica
</IfModule>

<IfModule mime_magic_module>
    #
    # The mod_mime_magic module allows the server to use various hints from the
    # contents of the file itself to determine its type.  The MIMEMagicFile
    # directive tells the module where the hint definitions are located.
    #
    MIMEMagicFile conf/magic
</IfModule>

##
## Pagina de monitoracao do Apache
##

ExtendedStatus On
<Location /server-status>
    SetHandler server-status
    Require ip 10.0.0.0/8 172.16.0.0/12 192.168.0.0/16 164.85.0.0/16
</Location>

##
## Paginas padronizadas de erro  
##

## Define o diretorio padrao de paginas de erro para todas as aplicacoes
Alias "/default_indisp/" "home/default_indisp/"

## Erros exclusivos do Apache
ErrorDocument 404 /default_indisp/error404.html
ErrorDocument 403 /default_indisp/error403.html
ErrorDocument 500 /default_indisp/error500.html
ErrorDocument 503 /default_indisp/error503.html

##
## Formato de logs para todas as aplicacoes
##

LogLevel warn
LogFormat "%a %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\" \"%{Cookie}i\" %D" webtrendsLogFormat

<IfModule logio_module>
   LogFormat "%a %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\" \"%{Cookie}i\" %D %I %O" webtrendsLogFormat
</IfModule>

ErrorLog  "${HTTP_SERVER_ROOT}/home/apache/serverlogs/server-error_${HTTP_SERVER_NAME}.log"
CustomLog "${HTTP_SERVER_ROOT}/home/apache/serverlogs/server-access_${HTTP_SERVER_NAME}.log" webtrendsLogFormat

##
## VHost Default
##

<VirtualHost ${HTTP_LISTEN_ADDRESS}:80 >
	### CodigoAplicacao _SERVERNAME
	DocumentRoot "home/apache/docroot"

        ErrorLog "${HTTP_SERVER_ROOT}/home/apache/serverlogs/default-vhost80-error_${HTTP_SERVER_NAME}.log"
        CustomLog "${HTTP_SERVER_ROOT}/home/apache/serverlogs/default-vhost80-access_${HTTP_SERVER_NAME}.log" webtrendsLogFormat
</VirtualHost>

##
## WebDAV
##
DavLockDB "${HTTP_SERVER_ROOT}/home/apache/davlock/DavLock"
SSLProtocol         all -SSLv3 -TLSv1 -TLSv1.1
# Many ciphers defined here require a modern version (1.0.1+) of OpenSSL. Some
# require OpenSSL 1.1.0, which as of this writing was in pre-release.
SSLCipherSuite ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256
SSLHonorCipherOrder on

##
## Aplicacoes
##

IncludeOptional conf/applications.d/*.cfg